<%- include('includes/head.ejs') %>

<body>
    <%- include('includes/navigation.ejs') %>

    <main>
        <ul>
            <li>user1</li>
            <li>user2</li>
        </ul>
    </main>
<%- include('includes/end.ejs') %>